# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [2]:
# Run this code:

admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [3]:
# Your code here:

admissions.head(10)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
5,6,321,109,3,3.0,4.0,8.20,1,0.75
6,7,308,101,2,3.0,4.0,7.90,0,0.68
7,8,302,102,1,2.0,1.5,8.00,0,0.50
8,9,323,108,3,3.5,3.0,8.60,0,0.45
9,10,327,111,4,4.0,4.5,9.00,1,0.84

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [4]:
# Your code here:
print(admissions.isnull().count())
print('Is there any duplicate in Serial no. : ',admissions['Serial No.'].duplicated().any())
#Checking if serial number is a good identificator.
display(admissions)


#No missing data

Serial No.           385
GRE Score            385
TOEFL Score          385
University Rating    385
SOP                  385
LOR                  385
CGPA                 385
Research             385
Chance of Admit      385
dtype: int64
Is there any duplicate in Serial no. :  False

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [5]:
# Your code here:
admissions.set_index('Serial No.',inplace=True)
admissions.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [6]:
# Your code here:
print(admissions['GRE Score'].duplicated().any())
print(admissions['CGPA'].duplicated().any())

#We have duplicated values in both columns GRE Score and CGPA

True
True

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [7]:
# Your code here:
admissions.set_index(['GRE Score','CGPA'], inplace=True)
admissions.head()

,,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,
337,9.65,118,4,4.5,4.5,1,0.92
316,8.00,104,3,3.0,3.5,1,0.72
322,8.67,110,3,3.5,2.5,1,0.80
314,8.21,103,2,2.0,3.0,0,0.65
330,9.34,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...
324,9.04,110,3,3.5,3.5,1,0.82
325,9.11,107,3,3.0,3.5,1,0.84
330,9.45,116,4,5.0,4.5,1,0.91
312,8.78,103,3,3.5,4.0,0,0.67
333,9.66,117,4,5.0,4.0,1,0.95

In [8]:
admissions.reset_index(inplace=True)
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
1,316,8.00,104,3,3.0,3.5,1,0.72
2,322,8.67,110,3,3.5,2.5,1,0.80
3,314,8.21,103,2,2.0,3.0,0,0.65
4,330,9.34,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82
381,325,9.11,107,3,3.0,3.5,1,0.84
382,330,9.45,116,4,5.0,4.5,1,0.91
383,312,8.78,103,3,3.5,4.0,0,0.67
384,333,9.66,117,4,5.0,4.0,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [9]:
# Your code here:
#admissions_9= admissions[admissions['CGPA'] > 9]['Research'].groupby
admissions_9 = admissions[(admissions['CGPA']>9) & (admissions['Research']==1)]
display(admissions_9.head())
#there are 101 rows that meet these conditions.

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
4,330,9.34,115,5,4.5,3.0,1,0.90
10,328,9.10,112,4,4.0,4.5,1,0.78
19,328,9.50,116,5,5.0,5.0,1,0.94
20,334,9.70,119,5,5.0,4.5,1,0.95
...,...,...,...,...,...,...,...,...
379,329,9.23,111,4,4.5,4.0,1,0.89
380,324,9.04,110,3,3.5,3.5,1,0.82
381,325,9.11,107,3,3.0,3.5,1,0.84
382,330,9.45,116,4,5.0,4.5,1,0.91
384,333,9.66,117,4,5.0,4.0,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [10]:
# Your code here:
pasop = admissions[(admissions['CGPA']>9) & (admissions['SOP']<3.5)]
display(pasop)
pasop.mean()
#Just like that I can get the mean for all columns for the filtered new table.

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
28,338,9.40,118,4,3.0,4.5,1,0.91
62,327,9.02,114,3,3.0,3.0,0,0.61
140,326,9.11,114,3,3.0,3.0,1,0.83
217,324,9.01,111,4,3.0,3.0,1,0.82
381,325,9.11,107,3,3.0,3.5,1,0.84

GRE Score            328.000
CGPA                   9.130
TOEFL Score          112.800
University Rating      3.400
SOP                    3.000
LOR                    3.400
Research               0.800
Chance of Admit        0.802
dtype: float64

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [11]:
def standardize(col):
    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
    
    # Your code here:
    return ((col - col.mean())/col.std())

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [12]:
# Your code here:
admissions['CGPA_std'] = standardize(admissions['CGPA'])
admissions['GRE_std'] = standardize(admissions['GRE Score'])
admissions['LOR_std'] = standardize(admissions['LOR'])
display(admissions.head(10))

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713
4,330,9.34,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713
...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,0.735259,0.628727,0.076740
381,325,9.11,107,3,3.0,3.5,1,0.84,0.851463,0.715239,0.076740
382,330,9.45,116,4,5.0,4.5,1,0.91,1.415886,1.147798,1.191647
383,312,8.78,103,3,3.5,4.0,0,0.67,0.303641,-0.409414,0.634193
384,333,9.66,117,4,5.0,4.0,1,0.95,1.764500,1.407334,0.634193

We will generate the decision choice at random using the code below. Please run the cell.

In [18]:
# Run this code:

from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [20]:
# Your code here:
admissions['deciding_column']=admissions.lookup(admissions.index,decision_choice)
admissions.head(20)

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,337,9.65,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,1.191647
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,0.076740
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,0.455704
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,-0.642597
4,330,9.34,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,-0.480713
5,321,8.20,109,3,3.0,4.0,1,0.75,-0.659198,0.369192,0.634193,-0.659198
6,308,7.90,101,2,3.0,4.0,0,0.68,-1.157218,-0.755462,0.634193,-0.755462
7,302,8.00,102,1,2.0,1.5,0,0.50,-0.991211,-1.274533,-2.153072,-1.274533
8,323,8.60,108,3,3.5,3.0,0,0.45,0.004829,0.542216,-0.480713,-0.480713
9,327,9.00,111,4,4.0,4.5,1,0.84,0.668856,0.888263,1.191647,1.191647
10,328,9.10,112,4,4.0,4.5,1,0.78,0.834863,0.974775,1.191647,1.191647
11,307,8.00,109,3,4.0,3.0,1,0.62,-0.991211,-0.841973,-0.480713,-0.841973
12,311,8.20,104,3,3.5,2.0,1,0.61,-0.659198,-0.495926,-1.595619,-1.595619
13,314,8.30,105,3,3.5,2.5,0,0.54,-0.493191,-0.236391,-1.038166,-0.236391
14,317,8.70,107,3,4.0,3.0,0,0.66,0.170836,0.023145,-0.480713,0.023145
15,319,8.00,106,3,4.0,3.0,1,0.65,-0.991211,0.196168,-0.480713,-0.480713
16,318,8.80,110,3,4.0,3.0,0,0.63,0.336843,0.109657,-0.480713,-0.480713
17,303,8.50,102,3,3.5,3.0,0,0.62,-0.161177,-1.188021,-0.480713,-0.161177
18,325,8.40,114,4,3.0,2.0,0,0.70,-0.327184,0.715239,-1.595619,0.715239
19,328,9.50,116,5,5.0,5.0,1,0.94,1.498890,0.974775,1.749100,0.974775

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [22]:
# Your code here:
admissions['decision'] = np.where(admissions['deciding_column']>0.8, 1, 0)
display(admissions.head(20))

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,1.191647,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,0.076740,0
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,0.455704,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,-0.642597,0
4,330,9.34,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,-0.480713,0
5,321,8.20,109,3,3.0,4.0,1,0.75,-0.659198,0.369192,0.634193,-0.659198,0
6,308,7.90,101,2,3.0,4.0,0,0.68,-1.157218,-0.755462,0.634193,-0.755462,0
7,302,8.00,102,1,2.0,1.5,0,0.50,-0.991211,-1.274533,-2.153072,-1.274533,0
8,323,8.60,108,3,3.5,3.0,0,0.45,0.004829,0.542216,-0.480713,-0.480713,0
9,327,9.00,111,4,4.0,4.5,1,0.84,0.668856,0.888263,1.191647,1.191647,1
10,328,9.10,112,4,4.0,4.5,1,0.78,0.834863,0.974775,1.191647,1.191647,1
11,307,8.00,109,3,4.0,3.0,1,0.62,-0.991211,-0.841973,-0.480713,-0.841973,0
12,311,8.20,104,3,3.5,2.0,1,0.61,-0.659198,-0.495926,-1.595619,-1.595619,0
13,314,8.30,105,3,3.5,2.5,0,0.54,-0.493191,-0.236391,-1.038166,-0.236391,0
14,317,8.70,107,3,4.0,3.0,0,0.66,0.170836,0.023145,-0.480713,0.023145,0
15,319,8.00,106,3,4.0,3.0,1,0.65,-0.991211,0.196168,-0.480713,-0.480713,0
16,318,8.80,110,3,4.0,3.0,0,0.63,0.336843,0.109657,-0.480713,-0.480713,0
17,303,8.50,102,3,3.5,3.0,0,0.62,-0.161177,-1.188021,-0.480713,-0.161177,0
18,325,8.40,114,4,3.0,2.0,0,0.70,-0.327184,0.715239,-1.595619,0.715239,0
19,328,9.50,116,5,5.0,5.0,1,0.94,1.498890,0.974775,1.749100,0.974775,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [23]:
# Your code here:
admissions['decision'].value_counts()
#85 applicants will be admitted and 300 wont.

0    300
1     85
Name: decision, dtype: int64

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [26]:
# Your code here:
admissions.columns = admissions.columns.str.replace(" ", "_").str.replace("\W", "").str.lower()

admissions

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1.747900,1.753381,1.191647,1.191647,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.991211,-0.063367,0.076740,0.076740,0
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121034,0.455704,-1.038166,0.455704,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.642597,-0.236391,-0.480713,-0.642597,0
4,330,9.34,115,5,4.5,3.0,1,0.90,1.233279,1.147798,-0.480713,-0.480713,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,110,3,3.5,3.5,1,0.82,0.735259,0.628727,0.076740,0.628727,0
381,325,9.11,107,3,3.0,3.5,1,0.84,0.851463,0.715239,0.076740,0.715239,0
382,330,9.45,116,4,5.0,4.5,1,0.91,1.415886,1.147798,1.191647,1.415886,1
383,312,8.78,103,3,3.5,4.0,0,0.67,0.303641,-0.409414,0.634193,-0.409414,0
384,333,9.66,117,4,5.0,4.0,1,0.95,1.764500,1.407334,0.634193,1.407334,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [36]:
# Your code here:
                  
def adjuster(row):
    if row['university_rating'] >= 4:
        return row['gre_score']+10
    else:
        return row["gre_score"]

admissions['adjusted_gre']= admissions['gre_score'].apply(adjuster)
                  
admissions
    
#pd.cut(admissions['gre_score'],bins = 4)

TypeError: 'int' object is not subscriptable